:root {
    --background-color: rgb(27, 27, 27);
    --title-color: pink;
    --title-size: 6rem;
    --title-hole-size: 4.35rem;
    --button-text-color: white;
    --menu-header-size: 3rem;
    --menu-header-color: white;
    --menu-option-color: white;
    --sidebar-title-size: 4rem;
    --sidebar-hole-size: 2.9rem;
    --main-menu-gradient: linear-gradient(114.25deg, #7292237a 0%, #768eb018 28.544310498034875%, #f95b00e1 67.76231631775777%, #fdcd15fa 100%), linear-gradient(-60.65deg, #ff95f370 0%, #ffffff2b 37.16323872854659%, #00808047 100%), linear-gradient(208.95deg, #ba5860f5 0%, #88cf4c72 43.83907614489707%, #89b31857 84.33390357994351%, #0a0ab1da 100%), linear-gradient(206.79deg, #28e17984 0%, #fae978a5 13.374541439481057%, #fe174de1 49.4392607959516%, #0ca9ffc9 49.57755993587699%, #7a490fba 74.37050419428765%, #e67d1b70 77.19320217393313%, #f59d2b70 81.33138598824766%, #77b65142 87.29205538849311%, #0b9ba00b 100%);
    --main-font: arial;
    --dialog-font-size: 3rem;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    width: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

#menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu-wrapper.hidden {
    display: none;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    min-width: 300px;
    width: 100%;
    box-sizing: content-box;
    transition-timing-function: ease-in-out;
}

#menu-title {
    color: var(--title-color);
    font-size: var(--title-size);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
    width: 100%;
}

#title-hole {
    height: var(--title-hole-size);
    fill: var(--title-color);
}

.title-small {
    --title-size: 4rem;
}

.menu-element-container {
    position: relative;
    background: var(--main-menu-gradient);
    padding: 3rem;
    border-radius: 4rem;
    width: 90%;
    box-sizing: border-box;
    padding: 2rem 4rem 2rem 4rem;
}

.menu-button {
    color: var(--button-text-color);
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000aa;
    margin: 1rem 0 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.menu-options-header {
    color: var(--menu-header-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--main-font);
    font-size: var(--menu-header-size);
}

.menu-options-container {
    width: 100%;
}

.menu-inner-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-inner-option-container * {
    margin: 0.5rem;
}

.menu-inner-option-container :last-child {
    margin-right: 0;
}

.menu-inner-option-container :first-child {
    margin-left: 0;
}

.menu-inner-option-container textarea {
    background-color: #000000aa;
    border-radius: 1rem;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: calc(0.75 * var(--menu-header-size));
    outline: none;
    color: var(--button-text-color);
    text-align: center;
    resize: none;
    overflow: hidden;
    padding: 1rem;
    white-space: nowrap;
}

.menu-inner-option-container * {
    margin: 1rem;
}

.menu-text-option > .option-label {
    color: var(--menu-option-color);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.menu-text-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-text-option textarea {
    margin-left: 0;
}

.menu-text-option :first-child {
    margin-right: 1rem;
}

#menu-about-button {
    cursor: pointer;
    position: absolute;
    width: 2rem;
    right: 1.5rem;
    bottom: 1.5rem;
    fill: var(--background-color);
    opacity: 0.7;
    transition-duration: 0.1s;
}

#game-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#game-container.hidden {
    display: none;
}

#svg-container {
    /*position: absolute;*/
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#sidebar {
    display: none;
}

.not-selectable {
    user-select: none; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.golf-ball.user-clickable:hover {
    stroke-opacity: 0.2;
}

.not-clickable {
    cursor: default;
}

.disable-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.disable-scrollbar::-webkit-scrollbar {
    display: none;
}

.backdrop {    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000aa;
}

.dialog-box-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    filter: blur(8px);
}

.dialog-box {
    color: white;
    font-family: var(--main-font);
    position: relative;
    padding: 2rem;
    background-color: #00000077;
    background: linear-gradient(135.00deg, #87d7dcea 0%, #cb9b0069 24.84050638656275%, #d7245838 39.61244280006058%, #607bf25d 100%), linear-gradient(135.00deg, #9892cbad 0%, #c24c740e 13.420577127358701%, #7cd07392 18.672831489131905%, #fc890f95 26.74551378701311%, #8f1435da 43.54185806822602%, #50a467da 66.49749977061639%, #65ab9ea8 75.41733952536438%, #705ddfad 100%), linear-gradient(212.43deg, #69474aeb 0%, #c1781ada 14.94842270387883%, #08ede6bc 15.966145413764298%, #d482b981 42.25626308812375%, #79ad39dd 100%);
    border-radius: 2rem;
    margin: 2rem;
    /*box-shadow: 0 0 20px 1px white;*/
}

.dialog-box-description {
    font-size: var(--dialog-font-size);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
}

.dialog-box-button-container {
    display: flex;
    justify-content: space-evenly;
}

.dialog-box-button {
    mix-blend-mode: lighten;
    cursor: pointer;
    font-size: var(--dialog-font-size);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid white;
    text-align: center;
    background-color: white;
    color: black;
}

.dialog-box-button:hover {
    background-color: black;
    color: white;
}

@media (min-width: 600px) {
    .menu-element-container {
        max-width: 540px;
    }

    .menu-button {
        font-family: var(--main-font);
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }
    
    .menu-button:hover {
        transform: scale(1.04);
        background-color: black;
    }

    #menu-about-button:hover {
        opacity: 1;
        transform: scale(1.3);
    }
    
  

    #sidebar {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 2rem;
        top: 2rem;
        bottom: 2rem;
        padding: 1rem 3rem 1rem 3rem;
        width: 300px;
        border-radius: 2rem;
        background-color: #000000aa;
        transition: bottom 1s;
    }

    #sidebar-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    #sidebar-body.hidden {
        display: none;
    }

    #sidebar-header {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        font-family: var(--main-font);

        align-items: baseline;
    }

    .sidebar-svg-button {
        width: 3rem;
        cursor: pointer;
        transition-duration: 0.1s;
        border-radius: 50%;
    }

    .sidebar-svg-button-primary {
        fill: transparent;
    }

    .sidebar-svg-button-secondary {
        fill: url(#sidebar-button-gradient);
    }
    
    #sidebar-toggle:hover {
        transform: scale(1.1) rotate(90deg);
    }
    
    #sidebar-title {
        color: var(--title-color);
        font-size: var(--sidebar-title-size);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 1rem 0rem;
    }
    
    #sidebar-title-hole {
        height: var(--sidebar-hole-size);
        fill: var(--title-color);
    }

    #course-selection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }

    #course-selection * {
        margin: 0 0.5rem 0 0.5rem;
    }

    #course-selection :first-child {
        margin-left: 0;
    }

    #course-selection :last-child {
        margin-right: 0;
    }
    
    .course-selection-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Consolas";
        color: white;
        font-size: 1.5rem;
        font-weight: bolder;
        width: 2.6rem;
        height: 2.6rem;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;
    }

    .course-selection-button:hover {
        background-color: white;
        color: var(--background-color);
    }

    #course-summary.course-summary-enabled {
        background-color: white;
        color: var(--background-color);
    }

    #course-summary.course-summary-enabled:hover {
        background-color: transparent;
        color: white;
    }

    .course-selection-button.course-summary-enabled:not(#course-summary) {
        cursor: default;
    }

    .course-selection-button.course-summary-enabled:hover {
        background-color: transparent;
        color: white;
    }

    #current-course {
        color: white;
        font-family: var(--main-font);
        font-size: 2rem;
        font-weight: bold;
        border-radius: 2rem;
        padding: 0.3rem;
        flex: 1;
        text-align: center;
        background: var(--main-menu-gradient);
        transition: filter 0.5s ease-in-out;
    }

    #current-course.course-summary-enabled {
        filter: grayscale(100%);
    }

    #score-table {
        color: white;
        font-family: var(--main-font);
        font-size: 1.7rem;
        width: 100%;
        margin-top: 1rem;
    }

    #table-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    #table-header * {
        text-align: center;
        width: 50%;
        font-weight: bold;
    }

    #table-content {
        min-height: 5rem;
        max-height: 13.4rem;
        overflow-y: scroll;
    }

    #table-content > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    #table-content > div * {
        text-align: center;
        width: 50%;
    }

    #chat-player-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
        flex-grow: 1;
    }

    #chat-player-header {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 1rem 0;
        flex: none;
    }

    #chat-player-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.2rem;
        border-radius: 3rem;
        background-color: #6e6e6e11;
        box-shadow: 0 0 3px 1px #fff;
    }

    .chat-player-selected {
        background-color: #ffffff;
        border-radius: 50%;
        cursor: default;
    }

    #chat-player-buttons :first-child {
        margin-right: 0.5rem;
        padding: 0.5rem;
        transition: background-color ease 0.1s;
        
    }

    #chat-player-buttons :last-child {
        margin-left: 0.5rem;
        padding: 0.5rem;
        transition: background-color ease 0.1s;
    }

    #chat-player-buttons :not(.chat-player-selected):hover {
        background-color: #e0e0e0;
    }

    #chat-player-title {
        margin-bottom: 0;
    }

    .sidebar-header-title {
        width: 100%;
        color: #fafafa;
        font-family: var(--main-font);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.3rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    #chat-box-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    #chat-box-container.hidden {
        display: none;
    }

    #chat-box {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;

        /* To make div scrollable: */
        min-height: 0;
        height: 0;
        
        border: 1px solid rgb(255, 255, 255);
        border-radius: 1rem;

        padding: 1rem;
        overflow: auto;
        white-space: pre-wrap; /* Preserve whitespace */
    }

    #chat-box :last-child {
        margin-top: auto;
    }

    .chat-element {
        font-family: var(--main-font);
        color: white;
        font-size: 1.5rem;
        margin: 1rem 0 1rem 0;
    }

    .chat-playername {
        color: #fab816;
    }

    .chat-message {

    }

    .chat-announcement {
        font-style: italic;
        font-weight: bold;
    }

    #chat-input-container {
        margin: 1rem 0 1rem 0;
        display: flex;
        flex-direction: row;
        flex: none;
    }

    #chat-input {
        border-radius: 1rem;
        flex: 1;
        padding: 1rem;
        outline: none;
        background-color: #ffffffaa;
    }

    #chat-send-message-button {
        cursor: pointer;
        background-color: #ffffff;
        font-size: 1.5rem;
        font-family: var(--main-font);
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0 0 0 1rem;
    }


    #player-list-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: flex-start;

        /* To make div scrollable: */
        min-height: 0;
        height: 0;

        overflow: auto;
    }

    #player-list-container.hidden {
        display: none;
    }

    .player-list-element {
        display:inline-block;
        font-size: 1.5rem;
        color: white;
        padding: 0.8rem;
        height: fit-content;
        font-family: var(--main-font);
        border-radius: 2rem;
        margin: 0 1rem 1rem 0;
    }
}