:root {
    --title-color: pink;
    --title-size: 6rem;
    --title-hole-size: 4.35rem;
    --button-text-color: white;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color:rgb(27, 27, 27);
    width: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

#menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-width: 300px;
    width: 100%;
    box-sizing: content-box;
    transition-timing-function: ease-in-out;
}

#menu-title {
    color: var(--title-color);
    font-size: var(--title-size);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
    width: 100%;
}

#title-hole {
    height: var(--title-hole-size);
    fill: var(--title-color);
}

.title-small {
    --title-size: 4rem;
}

.menu-element-container {
    background: linear-gradient(114.25deg, #7292237a 0%, #768eb018 28.544310498034875%, #f95b00e1 67.76231631775777%, #fdcd15fa 100%), linear-gradient(-60.65deg, #ff95f370 0%, #ffffff2b 37.16323872854659%, #00808047 100%), linear-gradient(208.95deg, #ba5860f5 0%, #88cf4c72 43.83907614489707%, #89b31857 84.33390357994351%, #0a0ab1da 100%), linear-gradient(206.79deg, #28e17984 0%, #fae978a5 13.374541439481057%, #fe174de1 49.4392607959516%, #0ca9ffc9 49.57755993587699%, #7a490fba 74.37050419428765%, #e67d1b70 77.19320217393313%, #f59d2b70 81.33138598824766%, #77b65142 87.29205538849311%, #0b9ba00b 100%);
    padding: 3rem;
    border-radius: 4rem;
    width: 90%;
    box-sizing: border-box;
}

.menu-button {
    color: var(--button-text-color);
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000aa;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.transition-out {
    transform: translateX(-1000px);
}

.transition-in {
    transform: translateX(0px);
}

.new-menu {
    margin-left: 1000px;
}

#game-container {
    position: absolute;
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.slide {
    transform: translateY(-1000px);
}

.not-selectable {
    user-select: none; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.golf-ball.user-clickable:hover {
    stroke-opacity: 0.2;
}

@media (min-width: 600px) {
    .menu-element-container {
        max-width: 540px;
    }

    .menu-button {
        font-family: sans-serif;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }
    
    .menu-button:hover {
        transform: scale(1.05);
        background-color: black;
    }
    
}