:root {
    --title-color: pink;
    --title-size: 6rem;
    --title-hole-size: 94%;
    --button-text-color: white;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color:rgb(27, 27, 27);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*background: none;*/
}

.hidden {
    display: none;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    min-width: 300px;
    box-sizing: content-box;
}

#menu-title {
    color: var(--title-color);
    font-size: var(--title-size);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
    width: 100%;
}

#title-hole {
    font-size: var(--title-hole-size);
}

#menu-button-container {
    background: linear-gradient(135.00deg, #2449e8bf 0%, #dbac7f5e 29.613722072406112%, #676982db 51.632777092166464%, #523e4168 54.82120911829996%, #9e6675ae 55.17176539908661%, #b2581999 60.020258452278156%, #0629ad73 89.02687492386478%, #da76bca8 100%), linear-gradient(183.85deg, #a1224962 0%, #b0440188 17.040440926452334%, #5a739541 27.998038016476755%, #4c72a89f 32.303553683523916%, #d467bbe4 36.672348167903955%, #a1fd5694 61.58246857899646%, #9a94cdbe 67.01088475519663%, #454efe9d 80.50845753911403%, #19069995 89.31160805112509%, #dacfbdd2 100%), linear-gradient(101.83deg, #128451d0 0%, #4210685d 100%), linear-gradient(135.00deg, #e72a16e3 0%, #49796077 100%);
    padding: 3rem;
    border-radius: 4rem;
    width: 90%;
    box-sizing: border-box;
}

.menu-button {
    color: var(--button-text-color);
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000aa;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    
}

#game-container {
    position: absolute;
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.slide {
    transform: translateY(-1000px);
}

.not-selectable {
    user-select: none; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

.golf-ball.user-clickable:hover {
    stroke-opacity: 0.2;
}

@media (min-width: 600px) {
    :root {
        --title-hole-size: 150%;
    }

    #menu-button-container {
        max-width: 540px;
    }
    
    #menu-title {
        font-family: sans-serif;
    }
    .menu-button {
        font-family: sans-serif;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    .menu-button:hover {
        transform: scale(1.05);
        background-color: black;
    }
}